@use '@angular/material' as mat;

@use '../variables' as vars;
@use './mat_theme' as theme;

@include mat.core();

$custom-primary: mat.define-palette(theme.$mat-custom-primary);
$custom-accent: mat.define-palette(theme.$mat-custom-secondary);
$custom-warn: mat.define-palette(theme.$mat-custom-warn);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: mat.define-typography-config(
        $font-family: vars.$primary-font,
      ),
  )
);

@include mat.all-component-themes($custom-theme);
